@import "base";
body{
    background: #3C3C3C;
}
/*最外面的*/
#box{
    width: 100%;
    height: 100%;
    background: #3C3C3C;
    overflow: hidden;
    /*头部*/
    .head{
        width: 100%;
        height: 2.5rem;
        .head_left{
            width: 1.2rem;
            height:1.2rem;
            border: 3px solid #323232;
            border-radius: 3px;
            float: left;
            background: url(../img/fanhui.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: .5rem .5rem;
            margin: {
                left: .8rem;
                top:.8rem;
                bottom: .8rem;
                right: .8rem;
            };
        }
        .head_zhong{
            width:5rem;
            height: 2.609rem;
            line-height: 2.609rem;
            text-align: center;
            color: #CBCBCB;
            font-size:16px;
            float: left;
        }
        .head_right{
            width: 1.2rem;
            height:1.2rem;
            border: 3px solid #323232;
            border-radius: 3px;
            float: right;
            background: url(../img/caidan.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: .5rem .5rem;
            margin: {
                left: .8rem;
                top:.8rem;
                bottom: .8rem;
                right: .8rem;
            };
        }
    }
    /*身体*/
   .music_text{
       width: 100%;
       height: 11rem;
       background: #000;
       overflow: hidden;
   }
   .mt_foot{
       width: 100%;
       height: 5.7rem;
       .time{
           line-height: .8rem;
           width: 10.8rem;
           height: .8rem;
           .progress{
               width: 7.8rem;
               height: .1rem;
               float: left;
               background: #272727;
               cursor: pointer;
               margin: {
                   top: .3rem;
               };
               .p-i{
                   width: 0rem;
                   height: 100%;
                   background: red;
                   cursor: pointer;
               }
           }
           .curvent-time{
               width: 1.5rem;
               height: 100%;
               float: left;
               text-align: center;
               line-height: .8rem;
               color: #fff;
           }
           .duration{
               width: 1.5rem;
               height: 100%;
               float: left;
               text-align: center;
               line-height: .8rem;
               color: #fff;
           }
       }
       .anniu1{
           width: 100%;
           height: 2.8rem;
           .anniu_left{
               width: 1.8rem;
               height: 1.8rem;
               background: url(../img/shangyishou.png) no-repeat;
               background-size:1.1rem 1.1rem ;
               background-position: center;
               position: absolute;
               left: 1.2rem;
               top: .4rem;
               border:3px solid #707070;
               border-radius: 50%;
               cursor: pointer;
           }
           .play{
               width: 2.8rem;
               height: 2.8rem;
               background-color: #3C3C3C;
               background: url(../img/bofang.png) no-repeat;
               background-size:1.4rem 1.4rem ;
               background-position: center;
               border:3px solid #707070;
               border-radius: 50%;
               float: left;
               position: absolute;
               left: 0;
               right: 0;
               margin: auto;
               cursor: pointer;
           }
           .pause{
               width: 2.8rem;
               height: 2.8rem;
               background-color: #3C3C3C;
               background: url(../img/zanting.png) no-repeat;
               background-size:1.4rem 1.4rem ;
               background-position: center;
               border:3px solid #707070;
               border-radius: 50%;
               float: left;
               position: absolute;
               left: 0;
               right: 0;
               margin: auto;
               cursor: pointer;
           }
           .anniu_right{
               width: 1.8rem;
               height: 1.8rem;
               background: url(../img/xiayishoy.png) no-repeat;
               background-size:1.1rem 1.1rem ;
               background-position: center;
               position:absolute;
               right:1.2rem;
               top: .4rem;
               border:3px solid #707070;
               border-radius: 50%;
               cursor: pointer;
           }
       }
       .qita{
           width: 100%;
           height: 2.1rem;
           .qita_nav{
               width: 20%;
               height:1.8rem;
               float: left;
               cursor: pointer;
           }
           .qita_tu1{
               background: url(../img/xin.png) no-repeat;
               background-position: center;
               background-size:1.2rem 1.2rem;
               cursor: pointer;
               margin: {
                   top: .05rem;
               };
           }
           .qita_tu2{
               background: url(../img/xunhuan.png) no-repeat;
               background-position: center;
               background-size:1.4rem 1.4rem;
               cursor: pointer;
               margin: {
                   top: .06rem;
               };
           }
           .qita_tu3{
               background: url(../img/xiazai.png) no-repeat;
               background-position: center;
               background-size:.8rem .8rem;
               cursor: pointer;
           }
           .qita_tu4{
               background: url(../img/fenxiang.png) no-repeat;
               background-position: center;
               background-size:1.0rem 1.0rem;
               cursor: pointer;
           }
           .qita_tu5{
               background: url(../img/liebiao.png) no-repeat;
               background-position: center;
               background-size:1.1rem 1.1rem;
               cursor: pointer;
               
           }
       }
   }
   .liebiao{
       position: absolute;
       left: 0;
       bottom: 0;
       width: 100%;
       height:0 ;
       background: #181F29;
       transition: all 1s linear;
       transform-origin: bottom center;
       overflow: hidden;
       .liebiao_head{
           position: relative;
           left: 0;
           top: 0;
           height: 1.5rem;
           width: 100%;
           border-bottom: 1px solid #60646B;
           color: #fff; 
           line-height: 1.5rem;
           .xunhuan{
                float: left;
                height: 1.5rem;
                width: 1.5rem;
                background: url(../img/shunxuxunhuan.png) no-repeat;
                background-position: center;
                background-size: .8rem .8rem;
                cursor: pointer;
           }
           .liebie_you{
               float: right;
               height: 1.5rem;
               width: 5rem;
               .xiazai{
                    float: left;
                    height: 1.5rem;
                    width: 1.5rem;
                    background: url(../img/xiazai1.png) no-repeat;
                    background-position: center;
                    background-size: .8rem .8rem; 
                    cursor: pointer;
               }
               .son_tianjia{
                    float: left;
                    height: 1.5rem;
                    width: 1.5rem;
                    background: url(../img/tianjia1.png) no-repeat;
                    background-position: center;
                    background-size: .8rem .8rem; 
                    cursor: pointer;
               }
               .shanchu{
                    float: left;
                    height: 1.5rem;
                    width: 1.5rem;
                    background: url(../img/shanchu.png) no-repeat;
                    background-position: center;
                    background-size: .8rem .8rem; 
                    cursor: pointer;
               }
           }
       }
       .ul{
           overflow: hidden;
           li{
               height: 1.5rem;
               width: 100%;
               border-bottom: 1px solid #60646B; 
               color: #fff; 
               padding-left: .3rem;
               line-height: 1.5rem;
               cursor: pointer;
               .delete{
                   background: url(../img/X.png) no-repeat;
                   background-position: center;
                   background-size: .5rem .5rem;
                   float: right;
                   width: 1.5rem;
                   height: 1.5rem;
                   cursor: pointer;
                   margin: {
                       right: .2rem;
                   };
                }
                .shoucang{
                    background: url(../img/xin1.png) no-repeat;
                    background-position: center;
                    background-size: .8rem .65rem;
                    float: right;
                    width: 1.5rem;
                    height: 1.5rem;
                    cursor: pointer;
                }
           }
       }
       .liebiao_foot{
           position: absolute;
           left: 0;
           bottom: 0;
           background: #1A1E27;
           width: 100%;
           height: 1.5rem;
           text-align: center;
           line-height: 1.5rem;
           color: #fff;
           cursor: pointer;
       }
   }
   .liebiao_active{
        height: 12rem;
    }
}


